body {
    margin: 0;
    padding: 0;
    background-color: gray;
}

image {
    width: 100%;
}

.icon {
    width: 150px;
    border-radius: 50%;
    border: 10px solid #444444;
    margin: 25px;
}
.hero {
    width: 100%;
}

#icon-group {
    max-width: 668px;
    margin: 0 auto;
}