body {
    margin: 0;
    padding: 0;
    background-color: gray;
}

image {
    width: 100%;
}

.icon {
    margin: 0 auto;
}
.icon img{
    width: 150px;
    border-radius: 50%;
    border: 10px solid #444444;
    margin: 25px;
}
.hero {
    width: 100%;
}

#icon-group {
    display: flex;
    flex-wrap: wrap;
    max-width: auto;
}