#choice-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 1.5%;
}

.button-box {
    padding: 15%;
    text-align: center;
    color: blue;
    background-color: var(--accent1-color);
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: grid;
}
.button-box a {
    color: var(--paragraph-color-on-color);
    text-decoration: none;
    font-size: 18px;
    padding: 15px 20%;
    margin-top: auto;
    border-radius: 5px;
    z-index: 0;
    grid-row: 1;
    grid-column: 1;
}
main img {
    width: 97%;
    margin-left: 1.5%;
    margin-right: 1.5%;
}
.container {
    position: relative;
    display: none;
  }
.invis {
    height: 100%;
    width: 100%;
    z-index: 1;
    grid-row: 1;
    grid-column: 1;
    margin: -15px;
}

nav a {
    
}