<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/meetgeorge/styles/meet-george-home.css">
    <link rel="stylesheet" href="images/styles/gallery.css">
    <title>Gallery</title>
</head>
<body>
    <header>
        <a id="logo_link" href="index.html">
            <img src="images/george-logo.png" alt="George Logo">
        </a>
        <nav>
            <a href="index.html">Home</a>
            <a href="more-info.html">Learn More</a>
            <a href="gallery.html">See More</a>
        </nav>
    </header>

    <main id="content-background">
       <div class="container">
        <img id="expandedImg">
       </div> 
        <div id="choice-grid">
            <div class="button-box"><a>default</a></div>
            <div class="button-box"><a onclick="myFunction('components\gallary-test\images\wizard.png');">wizard</a></div>
            <div class="button-box"><a>racer</a></div>
            <div class="button-box"><a>astronaut</a></div>
            <div class="button-box"><a>writer</a></div>
            <div class="button-box"><a>artist</a></div>
            <div class="button-box"><a>musician</a></div>
            <div class="button-box"><a>knight</a></div>
            <div class="button-box"><a>cowboy</a></div>
            <div class="button-box"><a>pilot</a></div>
            <div class="button-box"><a>chef</a></div>
            <div class="button-box"><a>rock star</a></div>
        </div>

        
    <script>
        function myFunction(imgs) {
          // Get the expanded image
          var expandImg = document.getElementById("expandedImg");
          // Get the image text
          expandImg.src = imgs.src;
          // Use the value of the alt attribute of the clickable image as text inside the expanded image
          // imgText.innerHTML = imgs.alt;
          // Show the container element (hidden with CSS)
          expandImg.parentElement.style.display = "block";
        }
        myFunction('images/george.png')
      </script>
    </main>

    <footer>
        <p>Meet George &copy; 2022 - Scott O'Connor</p>
        <div class="social">
          <a class="icon" target="_blank" href="sike.html">
            <img src="/meetgeorge/images/facebook (2).png" alt="fb icon" />
          </a>
          <a class="icon" target="_blank" href="sike.html">
            <img src="/meetgeorge/images/twitter.png" alt="twitter icon" />
          </a>
          <a class="icon" target="_blank" href="sike.html">
            <img src="/meetgeorge/images/insta.png" alt="instagram icon" />
          </a>
    </footer>
</body>
</html>